.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
}

.app-image {
  height: 70px;
  width: 70px;
}

.paragraph {
  font-family: 'Bree Serif';
  color: #1e293b;
}
